
.Rhistory
.DS_Store
OAS_full/
DAT-DB-webapp/pepDB/D10_Obstructive_Sleep_Apnea.duckdb
DAT-DB-webapp/pepDB/D11_Tonsillitis_Obstructive_Sleep_Apnea.duckdb
DAT-DB-webapp/pepDB/D12_Asthma.duckdb
DAT-DB-webapp/pepDB/D13_EBV.duckdb
DAT-DB-webapp/pepDB/D14_HCV.duckdb
DAT-DB-webapp/pepDB/D15_AChR_MG.duckdb
DAT-DB-webapp/pepDB/D16_Light_Chain_Amyloidosis.duckdb
DAT-DB-webapp/pepDB/D17_MuSK_MG.duckdb
DAT-DB-webapp/pepDB/D18_CMV.duckdb
DAT-DB-webapp/pepDB/D19_Allergy_SIT.duckdb
DAT-DB-webapp/pepDB/D1_SARS_COV_2.duckdb
DAT-DB-webapp/pepDB/D20_Dengue.duckdb
DAT-DB-webapp/pepDB/D21_CLL.duckdb
DAT-DB-webapp/pepDB/D22_Allergic_Rhinitis_In_Season.duckdb
DAT-DB-webapp/pepDB/D23_Non_Dengue_Febrile_Illness.duckdb
DAT-DB-webapp/pepDB/D24_Allergic_Rhinitis_Out_Of_Season.duckdb
DAT-DB-webapp/pepDB/D2_HIV.duckdb
DAT-DB-webapp/pepDB/D3_CMV_EBV.duckdb
DAT-DB-webapp/pepDB/D4_Celiac.duckdb
DAT-DB-webapp/pepDB/D5_Allergy_NoSIT.duckdb
DAT-DB-webapp/pepDB/D6_Ebola.duckdb
DAT-DB-webapp/pepDB/D7_MS.duckdb
DAT-DB-webapp/pepDB/D8_SLE.duckdb
DAT-DB-webapp/pepDB/D9_Tonsillitis.duckdb
/DAT-DB-webapp/rsconnect
Databases-preparation/NCBI_RefSeq_Human_2024_07_25.fasta
Databases-preparation/UniProt_TR_SP_Human_2024_07_25.fasta
